**/__pycache__/
*.py[cod]
*$py.class
**/api_keys.py
**/json_files/
**/tmp/
**/temp.*
**/data/
**/.DS_Store
**/old_twitter_data/

build/
dist/
downloads/
parts/
sdist/
var/
wheels/
htmlcov/
.tox/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# pyenv
.python-version


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

